.card-area{
    padding: 60px 60px 0px 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
@media screen and (max-width: 1490px) {
    .card-area{
      padding: 60px 12px 0px 12px;
    }
  }
  