@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700;1,800;1,900&display=swap');

/* *
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} */

body
{
	font-family: 'Poppins', sans-serif;
}

h1
{
	font-size: 2.5rem;
	font-weight: 700;
	color: rgb(35, 35, 85);
}

span
{
	font-size: .9rem;
}

h6
{
	font-size: 1.1rem;
	color: rgb(24, 24, 49);
}
#course
{
	padding: 8vw 8vw 8vw 8vw;
	text-align: center;
}

#course .course-box
{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 1rem;
	margin-top: 50px;
}

#course .courses
{
	text-align: start;
	background: #edf1f2;
	height: 100%;
	position: relative;
}

#course .courses img
{
	width: 100%;
	height: 60%;
	background-size: cover;
	background-position: center;
}

#course .courses .details
{
	padding: 15px 15px 0 15px;
}

#course .courses .details i
{
	color: #fdc93b;
	font-size: .9rem;
}

#course .courses .cost
{
	background-color: #fdc93b ;
	line-height: 70px;
	width: 70px;
	height: 70px;
	text-align: center;
	border-radius: 50%;
	position: absolute;
	right: 15px;
	bottom: 100px;}

  .star
  {
    color: #fdc93bf4;

    
  }
  .review
  {
    color: black;
  }