.community-select-dropdown,
.community-select-dropdown * {
	margin: 0;
	padding: 0;
	position: relative;
	box-sizing: border-box;
}
.community-select-dropdown {
	border: 1px solid #7B9EA8;
	position: relative;
	background-color: #E6E6E6;
	border-radius: 4px;
    height: 100%;
}
.community-select-dropdown select {
	font-size: 13px;
	font-weight: normal;
	max-width: 100%;
	padding: 8px 24px 8px 10px;
	border: none;
	background-color: transparent;
		-webkit-appearance: none;
		-moz-appearance: none;
	appearance: none;
}
.community-select-dropdown select:active, .community-select-dropdown select:focus {
	outline: none;
	box-shadow: none;
}
.community-select-dropdown:after {
	content: "";
	position: absolute;
	top: 50%;
	right: 8px;
	width: 0;
	height: 0;
	margin-top: -2px;
	border-top: 5px solid #7B9EA8;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
}
.community-dropdown-div{
	display : flex;
	flex-direction : row;
	align-items: center;
	gap: 10px;
}
.sort-label{
	font-size: 15px;
}

@media screen and (max-width: 768px) {
    .community-dropdown-div{
		padding-right: 90px;
	}
}  