.lazyLoader-div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin-top: 30px;
}
.flipping-10 {
    width: 60px;
    aspect-ratio: 1;
    display: flex;
    animation: f10-0 2s infinite steps(1);
  }
  .flipping-10::before,
  .flipping-10::after {
    content: "";
    flex: 1;
    animation: 
      f10-1 1s infinite linear alternate,
      f10-2 2s infinite steps(1) -.5s;
  }
  .flipping-10::after {
    --s:-1,-1;
  }
  
  @keyframes f10-0 {
    0%  {transform: scaleX(1)  rotate(0deg)}
    50% {transform: scaleX(-1) rotate(-90deg)}
  }
  
  @keyframes f10-1 {
    0%,
    5%   {transform:scale(var(--s,1)) translate(0px)   perspective(150px) rotateY(0deg) }
    33%  {transform:scale(var(--s,1)) translate(-10px) perspective(150px) rotateX(0deg) }
    66%  {transform:scale(var(--s,1)) translate(-10px) perspective(150px) rotateX(-180deg)}
    95%,
    100% {transform:scale(var(--s,1)) translate(0px)   perspective(150px) rotateX(-180deg)}
  }
  
  @keyframes f10-2 {
    0%  {background:#fdc938;border-radius: 0}
    50% {background:rgb(21, 21, 100);border-radius: 100px 0 0 100px}
  }
  